<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ styles 'style.css' }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
	<title>{{ title }}</title>
</head>

<body>
	<header>
		<nav class="Header">
			{{!-- <ul> --}}
				{{!-- <li><a href=" path '' ">Home</a></li> --}}
				{{!-- <li><a href=" path 'projects' ">Projects</a></li> --}}
			{{!-- </ul> --}}
			<div id="Logo">
            	<img src="images/image.png" alt="Logo">
        	</div>
			<a href="{{ path ''}}">
				<button>Home</button>
			</a>
			<a href="{{ path 'projects'}}">
				<button>Projects</button>
			</a>
        	<button> CB Community </button>
        	<button>About</button>
    		<button>Contact us</button>
			<a href="{{ path 'login'}}">
				<button>Log in</button>
			</a>
			<a href="{{ path 'register'}}">
				<button>Register</button>
			</a>
		</nav>
	</header>
	<main>