{{> Header }}

<h1 id="name" style="color:white; margin:10px;">{{ name }} </h1>
<img src="{{ url }}">

<h2 style="color:white; margin:10px;">Colors:</h2>
<ol id="colors">
	{{#each colors}}
		<li>
			<p>Color: {{ this.w3c.name }} </p>
            <p style="display: inline;">Percentage: {{ this.value }}</p>
            <span class="dot" style="background-color:{{ this.raw_hex }};"></span>
		</li>
        <br>
	{{/each}}
</ol>

{{> Footer}}